.root {
    display: flex;
    justify-content: flex-end;
}

.pagination {
    display: flex;
    align-items: center;
    list-style: none;
}

.pagination > li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 25px;
    margin-right: 16px;

    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
}

.pagination > li > a {
    display: block;
    width: 100%;
    height: 100%;
}

.active {
    background-color: var(--primary-color);
    border-radius: 3px;
    color: #fff;
}

.text {
    margin-right: 16px;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: var(--gray);
}
